{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": [
    "jsdoc",
    "import",
    "filenames"
  ],
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "globals": {
    "__DEV__": true,
    "test": true,
    "describe": true,
    "it": true,
    "beforeEach": true,
    "afterEach": true,
    "expect": true,
    "browser": true,
    "by": true,
    "element": true,
    "jasmine": true,
    "If": true,
    "For": true,
    "When": true,
    "Choose": true,
    "cy": true
  },
  "settings": {
    "jsdoc": {
      "tagNamePreference": {
        "param": "param",
        "returns": "return"
      }
    }
  },
  "rules": {
    "spaced-comment": "off",
    "no-unused-expressions": "off",
    "func-names": "off",
    "new-parens": "off",
    "no-continue": "off",
    "one-var": ["error", "never"],
    "class-methods-use-this": "off",
    "no-restricted-syntax": "off",
    "no-underscore-dangle": "off",
    "consistent-return": "off",
    "no-console": "off",
    "guard-for-in": "off",
    "no-param-reassign": "off",
    "arrow-body-style": "off",
    "prefer-destructuring": "off",
    "max-len": ["error", 140],
    "no-unused-vars": ["error", { "vars": "all", "args": "none" }],
    "arrow-parens": ["error", "always"],
    "padded-blocks": "off",
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "no-new": "off",
    "new-cap": "off",
    "function-paren-newline": "off",
    "no-mixed-operators": "off",
    "no-await-in-loop": "off",
    "no-plusplus": "off",
    "newline-per-chained-call": "off",
    "no-restricted-globals": "off",
    "object-curly-newline":"off",
    "array-callback-return": "off",

    "import/no-dynamic-require": "off",
    "import/prefer-default-export": "off",
    "import/first": "off",
    "import/no-extraneous-dependencies": "off",
    "import/extensions": "off",
    "import/no-unresolved": "off",
    "import/no-mutable-exports": "off",
    "import/order": ["error", {
      "groups": ["builtin", "external", "internal", "sibling", "parent", "index"],
      "newlines-between": "always-and-inside-groups"
    }],

    "jsdoc/check-param-names": 2,
    "jsdoc/check-tag-names": 2,
    "jsdoc/check-types": 2,
    "jsdoc/newline-after-description": 0,
    "jsdoc/require-description-complete-sentence": 0,
    "jsdoc/require-example": 0,
    "jsdoc/require-hyphen-before-param-description": 2,
    "jsdoc/require-param": 2,
    "jsdoc/require-param-description": 0,
    "jsdoc/require-param-name": 2,
    "jsdoc/require-param-type": 0,
    "jsdoc/require-returns-description": 0,
    "jsdoc/require-returns-type": 2,

    "filenames/match-regex": [2, "^(_){0,1}([a-zA-Z0-9])[0-9a-z-.]+$"],
    "filenames/match-exported": [2, "kebab", "_" ],
    "filenames/no-index": "off"
  }
}
